* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #272626;
  height: 100vh;
}

/* Menu lateral */ 
nav.menu-lateral {
  width: 65px;
  height: 100%;
  background-color: #4e4e52;
  padding: 20px 0 40px 0; 
  box-shadow: 3px 0 0 #590A6D;
  position: fixed;
  overflow: hidden;
  transition: .5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


nav.menu-lateral.expandir {
  width: 300px;
}

/* Botão expandir */
.btn-expandir {
  width: 100%;
  padding-left: 16px;
}

.btn-expandir > i {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

/* Perfil (igual aos itens do menu) */
.perfil {
  margin-bottom: 60px;
}

.perfil a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 13px 0 0 11px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.perfil .icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #590A6D;
}

.perfil .txt-link {
  margin-left: 70px;
  transition: .5s;
  opacity: 0;

  white-space: nowrap; /* Impede que o texto quebre em duas linhas */
  overflow: hidden; /* Esconde o excesso, caso passe do limite */
  text-overflow: ellipsis; /* (opcional) adiciona "..." se o texto for muito longo */
}

nav.menu-lateral.expandir .perfil .txt-link {
  margin-left: 20px;
  opacity: 1;
}

/* Itens do menu */
ul {
  list-style-type: none;
  flex: 1;
}

ul li.item-menu {
  transition: .2s;
}

ul li.ativo {
  background-color: #590A6D;
}

ul li.item-menu:hover {
  background: #590A6D;
}

ul li.item-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;

  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; /
}

ul li.item-menu a .txt-link {
  margin-left: 70px;
  transition: .5s;
  opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
  margin-left: 20px;
  opacity: 1;
}

ul li.item-menu a .icon > i {
  font-size: 25px;
  margin-left: 5px;
}

/* Botão de sair */

.logout a {
  color: #fff;
  text-decoration: none;
  font-size: 26px;
  padding: 0 0 0 22px;
  display: flex;
  align-items: center;
}

.logout a .txt-link {
  margin-left: 70px;
  opacity: 0;
  transition: .5s;
  font-size: 18px;
}

nav.menu-lateral.expandir .logout a .txt-link {
  margin-left: 20px;
  opacity: 1;
}

/*  CONTEÚDO PRINCIPAL =============================================================================== */

.conteudo {
  margin-left: 65px; /* espaço pro menu lateral */
  padding: 0 0 0 4px;
  transition: margin-left 0.5s;
}

nav.menu-lateral.expandir ~ .conteudo {
  margin-left: 300px;
}

/* Banner principal --------------------------------------------------------------------------------------*/
.main-banner {
  position: relative;
  height: 380px;
  overflow: hidden;
}

/* Imagem de fundo dentro do banner */
.main-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;        /* cobre todo o espaço sem distorcer */
  object-position: center;  /* centraliza o foco da imagem */
  display: block;
}

/* Barra de busca sobre o banner */
.home-header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

/* Container da busca */
.search-container {
  position: relative;
  width: 40%;
}

.search-container i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  pointer-events: none;
}

#search {
  width: 100%;
  padding: 10px 20px 10px 40px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: white;
  color: black;
}

/* Overlay e texto sobre o banner */
.banner-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #272626);
  display: flex;
  align-items: end;
  padding: 40px;
}

.banner-content h1 {
  font-size: 2.3rem;
  margin-bottom: 10px;
  color: white;
}

.buttons .btn {
  background-color: #590A6D;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.3s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

.buttons .btn:hover {
  background-color: #7a0e8c;
}

.titulos {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 50px; /* espaço pro menu lateral */
  padding: 40px 0 0 0;
  transition: margin-left 0.5s;
}

.subtitulos {
  color: #fff;
  font-size: 0.6rem;
  font-size: 18px;
  margin-left: 50px; /* espaço pro menu lateral */
  padding: 10px 0 0 0;
  transition: margin-left 0.5s;
}

/* Carrossel -----------------------------------------------------------------------------------------*/

.carousel-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  overflow-y: hidden;
}

.carousel-container h2 {
  margin-bottom: 10px;
  padding: 0 0 0 20px;
  color: #fff;
}

.artists-section {
  padding: 20px 0;
  box-sizing: border-box;
}

.artists-section h2 {
  margin-bottom: 10px;
  padding: 0 10px 0 20px;
  color: #fff;
}

.carousel {
  display: flex;
  scrollbar-width: none;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.artist-card {
  text-align: center;
  padding: 15px;
  min-width: 130px;
  flex-shrink: 0;
  transition: transform 0.5s;
  
}

.artist-card:hover {
  transform: scale(1.1);
}

.artist-card a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.artist-card a:hover img {
  transform: scale(1.0);
}

.artist-card img {
  width: 150px;         
  height: 150px;        
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-weight: bold;
  margin-top: 8px;
  color: #fff;
}

.arrow {
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

.arrow:hover {
  color: #a855f7;
}


/* musicas -------------------------------------------------------------------------------------------*/

.mais-ouvidas {
  padding: 20px 0;
  box-sizing: border-box;
}

.mais-ouvidas h2 {
  margin-bottom: 10px;
  padding: 0 10px 0 20px;
  color: #fff;
}

.music-carousel {
  background-color: #c7972f;
  display: flex;
  gap: 15px;
  overflow-x: auto;
  
  scrollbar-width: none;
  overflow-y: hidden;
  scroll-behavior: smooth;
}


.music-carousel::-webkit-scrollbar-thumb {
  background: #6a1b9a;
  border-radius: 10px;
}

.music-card {
  margin: 15px;
  background-color: #51f35e;
  border-radius: 10px;
  padding: 7px;
}

.music-card img {
  width: 230px;  
  height: 140px;
  object-fit: cover;
  border-radius: 7%;
  display: block;
}

.music-card .info {
  padding: 10px;
}

.music-card h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.music-card p {
  color: #aaa;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-btn {
  background-color: #9c27b0;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.comment-btn:hover {
  background-color: #ba68c8;
}

.rating {
  color: gold;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}


